<ion-header>
  <ion-toolbar>
    <ion-title>Termino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <p><b>CONSENTIMIENTO INFORMADO</b><br><br>

    Por favor lea esta información cuidadosamente antes de decidir su participación en el estudio:<br><br>
    
    <b>Título de la investigación:</b> Sistema móvil para la consolidación de colecciones de datos de salud.<br><br>
    
    <b>Financiamiento:</b> Ninguno.<br><br>
    
    <b>El objetivo de esta investigación:</b> Almacenar datos de salud para poder usar o entrenar sistemas, aplicativos o herramientas de machine learning. <br><br>
    
    <b>Su participación:</b> Contestar un formulario online de 5 minutos. <br><br>
    
    <b>Sin riesgos:</b> No existe ningún riesgo anticipado asociado a participar en este estudio, más allá de aquellos relacionados con ver una pantalla móvil durante 5 minutos y contestar un cuestionario sobre la información que verá en pantalla.<br><br>
    
    <b>Beneficios:</b> Mediante su participación, contribuirá al conocimiento general sobre aprendizaje automático. Si lo desea, puede enviar un correo electrónico a los investigadores responsables, Javier de Jesus Garcia (Javier.garciac@pca.edu.co), Diego Noriega Izquierdo(diego.noriegai@pca.edu.co), para enviarle una copia de las publicaciones que se escriban basadas en esta investigación.<br><br>
    
    <b>Confidencialidad:</b> Toda opinión o información que Ud. nos entregue será tratada de manera confidencial. Nunca revelaremos su identidad. En las presentaciones que se hagan sobre los resultados de esta investigación no usaremos su nombre ni tampoco revelaremos detalles suyos ni respuestas que permitan individualizarlo. Sus datos serán resguardados en un archivo digital al que sólo tendrá acceso mediante clave el investigador y los ayudantes de investigación, quienes también han firmado una garantía de confidencialidad. Los datos sólo serán usados para la presente investigación.<br><br>
    
    <b>Participación voluntaria:</b> Su participación es completamente voluntaria. Se puede retirar del estudio en el momento que estime conveniente. Para ello, basta que cierre u abandone la página web con el cuestionario.<br><br>
    
    <b>Contacto:</b> Si usted tiene alguna consulta o preocupación respecto a sus derechos como participante de este estudio, puede contactar con los investigadores, los correos son Javier.garciac@pca.edu.co y diego.noriegai@pca.edu.co.

    <b>¿Está Ud. dispuesto a completar el cuestionario que le presentaré a continuación? Si es así, por favor haga clic en el botón respectivo:</b><br>
    </p>

    <ion-button expand="block" routerLink="/home" routerDirection="forward">ACEPTO</ion-button>
    <ion-button expand="block" routerLink="/login" routerDirection="forward">NO ACEPTO</ion-button>
</div>
</ion-content>
